<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.station">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Station.noActionBar">
        <activity android:name=".AddServicesActivity" android:parentActivityName=".MainActivity" android:label="@string/add_service"/>
        <activity android:name=".contact.ChatRoomActivity"  android:parentActivityName=".contact.ViewContactActivity"/>
        <activity android:name=".contact.ViewContactActivity" android:parentActivityName=".MainActivity" android:label="@string/messages"/>
        <activity android:name=".SignInActivity" />
        <activity
            android:name=".StationFormActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>